.section-title {
  z-index: 1;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 7px;
  font-weight: 900;
  margin: 50px 0;
  border-bottom: 4px solid rgb(220, 220, 220);
  padding-bottom: 40px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .section-title {
    font-size: 24px;
  }
}