.header__nav-link {
  font-size: 13px;
  text-decoration: none;
  color: black;
  display: flex;
  z-index: 1;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 950px) {
  .header__nav-link {
    font-size: 2vw;
    max-width: max-content;
  }
}