.chairs__card-title {
  margin: 0;
  position: absolute;
  width: 80%;
  text-align: center;
  align-self: center;
  text-shadow: 3px 3px 3px #000;
  font-weight: 900;
  line-height: 120%;
  font-size: 20px;
  text-transform: uppercase;
}