.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 20px 0; 
  position: absolute;
}

@media screen and (max-width: 950px) {
  .header {
    flex-direction: column;
  }
}