.chairs__card-item {
  display: flex;
  border-radius: 10px;
  border: 1px solid #999;
  overflow: hidden;
  border-radius: 10px;
}

.chairs__card-item:hover {
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, .2);
  border-radius: 10px;
  overflow: hidden;
}